/*@include("../fonts/sabon/stylesheet.css")
*/


body{
	background-image: url("../images/bg.jpg");
	background-size: cover;
}


.titleSite {
	
	text-align:center;
	
}

h1{
	font-family:"Signika", sans-serif;
	font-size:50px;
	font-weight: normal;
	margin: 0;
	vertical-align: bottom;

	/* comment*/
}

h1, h2 {

	display: inline;
}


h2 {
	
	font-family: "Amaranth", serif;
	margin: 0;
	letter-spacing:13px;
	padding-left: 0.7em;
}


a, a:visited {
	text-decoration:none;
}



a:hover {

}





div#mainLinks {
	
	width:100%;
	text-align:center;


}

#mainLinks ul{
	list-style:none;
	display: block;
	-webkit-padding-start: 0px;

}

#mainLinks li {
	display:inline;
	text-align:center;
}

ul.navegator {
	
	line-height: 1.4;
	padding-left:0;

}

.navigator li {
		display:inline;
		text-align:center;
		
}

#mainLinks a {
	text-decoration:none;
	
}


